    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <img src="src/app/img/AWS-Rekognition-e1530657049649.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Analise de uso de máscara com Rekognition
    </nav>
    <br>
    <app-camera (pictureTaken)="handleImage($event)" (pictureTaken)="handleImageShot($event)"></app-camera>
    <br>
    <app-upload (onSelectedFile)="onUpload($event)"  (onImagePreview)="handleUploadShot($event)"></app-upload>
    <br>
    <div class="snapshot" id="snapCam" style="text-align:center" *ngIf="webcamImage" >
      <img [src]="webcamImage?.imageAsDataUrl" width="300px"/>
    </div>
    <div class="snapshot" id="snapUpload" style="text-align:center" *ngIf="imageSrc!=''">
      <img [src]="imageSrc" width="300px" />
    </div>
    <br>
    <app-result [result]="result"></app-result>
